body {
  background: #3DC2CB;
  height: 100vh;
  transition: background-color .5s linear;
  margin-top: 150px;
  position: relative;
}

body.bg_blanco {
  background-color: white;
}

.navbar{
  position: fixed;
  height: 150px;
  background-color: white !important;
  width: 100%;

}
.navbar ul li {
  padding: 10px;
}

.productos{
  background-color: #4D63AB;
  padding: 30px 0 30px 0;
}
.nosotros {
  background-image: url(../img/Skyled-muebles@3x.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 80px 0 80px 0;
}


.politasenvio {
  background-color: #1B033B;
  width: 100%;
}

svg .imgsvg{
  width: 100%;
  height: 600px;
}

.sofa .jumbotron {
  padding: 0;

}

.sofa div.img {
  z-index: 1;
  position: relative;
  background-image: url('../img/sofa-led2.png');
  background-size: 800px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3DC2CB;
  background-blend-mode: multiply;
  height: 1800px;
  width: 100%;
  display: block;
  transition: background-color .6s linear;
  top: 0px;
}

.blue,
.sofa div.img.blue {
  background-color: #4D63AB;
}
.pink,
.sofa div.img.pink {
  background-color: #F437BE;
}

.orange,
.sofa div.img.orange {
  background-color: #F97702;
}

.green,
.sofa div.img.green {
  background-color: #B8E986;
}

@media screen and (max-width: 992px) {
  .sofa div.img {
    background-size: 600px auto;
    height: 1300px;
  }
}
@media screen and (max-width: 768px) {
  .sofa div.img {
    background-size: 400px auto;
    height: 1000px;
  }
}

@media screen and (max-width: 500px) {
  .sofa div.img {
    background-size: 350px auto;
    height: 800px;
  }
}


/*políticas de envío*/
.texto {
  text-align: right;
  padding-top: 200px;
}
.texto3 {
  text-align: right;
  padding-top: 360px;
}
.texto2 {
  text-align: left;
  padding-top: 100px;
}
.texto4 {
  text-align: left;
  padding-top: 320px;
}

@media  and (max-width: 991px) {
  .texto {
    position: relative;
    left: 100px;
    top: 200px;

  }
}
@media  and (max-width: 991px) {
  .texto2 {
    position: absolute;
    left: 100px;
    top: 200px;

  }
}
/*contact form*/

a {
    text-decoration: none;
    color: #272d2c;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

a:focus,
a:hover {
    text-decoration: none;
    color: #44D0D3;
}

sub {
    bottom: 0em;
}

.lead {
    font-size: 23px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'PT Serif', serif;
    color: #272d2c;
    margin-bottom: 40px;
}


.form-group {
    margin-bottom: 5px;
}

.form-control {
    border-radius: 0px;
    color: #6b6c6d;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 52px;
    padding: 0px;
    line-height: 1.42857143;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid #cbcfce;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-bottom: 10px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
}

.form-control:focus {
    color: #34b2a4 !important;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom-color: #34b2a4;
    font-size: 12px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

input[type=checkbox],
input[type=radio] {
    margin: 8px 0 0;
    margin-top: 12px;
    line-height: normal;
}

input::-webkit-input-placeholder {
    color: #6b6c6d !important;
}

input:focus::-webkit-input-placeholder {
    color: #34b2a4 !important;
    bottom: 20px;
    position: relative;
}

textarea::-webkit-input-placeholder {
    color: #6b6c6d !important;
}

textarea:focus::-webkit-input-placeholder {
    color: #34b2a4 !important;
    bottom: 20px;
    position: relative;
    font-size: 12px;
}

.input-group-addon {
    background-color: transparent;
    border: 1px solid #34b2a4;
    border-radius: 0px;
}

.focus {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid #cbcfce;
    background-color: #fff;
}

.focus:focus {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid #cbcfce;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .form-control {
    border-color: #3c763d;
    background-color: #fff;
    box-shadow: none;
}

.has-success .form-control:focus {
    border-color: #3c763d;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error .form-control {
    border-color: #a94442;
    background-color: #fff;
    box-shadow: none;
}

.has-error .form-control:focus {
    border-color: #34b2a4;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-addon:last-child {
    border-left: 0;
    border-right: transparent;
    border-top: transparent;
}

.input-group-addon i {
    color: #34b2a4;
}

option {
    color: #6b6c6d;
}

hr {
    border-top: 1px solid #e4e9e8;
    margin-bottom: 40px;
    margin-top: 40px;
}
.mb60{margin-bottom:60px;}
.btn {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 11px 30px;
    border-radius: 6px;
    line-height: 1.8;
    letter-spacing: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    word-wrap: break-word;
    white-space: normal !important;
}

.space-medium {
    padding-top: 80px;
    padding-bottom: 80px;
}
.pdt20 {
    padding-top: 20px;
}

.contact-pageheader {
    position: relative;

    background: linear-gradient( #1B033B , #3DC2CB);

    margin-bottom: 70px;
}

.contact-caption {
    position: relative;
    top: 180px;
}

.contact-title {
    font-family: 'PT Serif', serif;
    font-size: 50px;
    font-style: italic;
    margin-bottom: 40px;
    line-height:80px;
}

.contact-caption-text {
    font-size: 23px;
    color: #272d2c;
}

#contact-map {
    height: 450px;
    width: 100%;
    position: relative;
}

.contact-form {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    position: relative;
    bottom: 0px;
    top: 100px;
    -webkit-box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.29);
}

.contact-section {
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e9e8;
}

.contact-section .contact-icon {
    float: left;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 25px;
    color: white;
    padding-right: 20px;
    position: initial;
}

.contact-section .contact-info {
    padding-top: 10px;
    font-weight: 700;
}

.contact-social {}

.contact-social ul {}

.contact-social ul li {
    float: left;
}

.contact-social ul li a {
    font-size: 16px;
    padding-right: 10px;
    color: #6b6c6d;
}

.contact-social ul li a:hover {
    color: #3dc2cb;
}

.location-block {
    border-radius: 2px;
    border: 1px solid #eaeaea;
    padding: 30px;
    margin-bottom: 20px;
    background-color: #fff;
}

.location-content {}

.location-block ul {}

.location-block ul li {
    line-height: 2.2;
    font-size: 15px;
}

.location-icon {
    color: #3dc2cb;
    padding-right: 10px;
    font-size: 15px;
}


/*footer*/
.dejar_dat{
  width: 100%;
}
div .contact-pageheader{
  background-color: #3DC2CB !important;
}
.space-medium{
  background-color: #3DC2CB;
}


/*woocommerce*/

.woocommerce a.button {
  background-color: #3DC2CB;
  color: white;
}

.woocommerce-products-header__title {
  color: #3DC2CB;
  }


  /*flecha*/


  #flecha {
    z-index: 2;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
  }

  .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }

  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }

  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }

  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
  }

  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }

  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }

  @keyframes move {
    25% {
      opacity: 1;

    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }

  @keyframes pulse {
    to {
      opacity: 1;
    }
  }
